* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header section*/

.top-header {
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
    border: 3px solid   rgb(247, 248, 248);

}

.header-section {
    text-align: right;
    height: 300px;
    width: 300px;
    margin-left: 60%;
    margin-top: 15%;
    
}

.header-title {
    font-weight: 900px;
    font-size: xx-large;

}

.header-des {
    color: #8d8282;
    margin-top: 16px;
}
.btn-info{
    background: #e98605;
    margin-top: 20px;
    font-weight: 700px;
    font-size: 20px;
    border: #e98605;
    border-radius: 4px;
    color: white;
    text-align: center;
    padding: 10px;
}
.btn-info:hover{
    background-color: blue;
}

/*Main section */

.first-section{
    display: flex;
    height: 700px;
    border: 3px solid white;
}
.main-pic{
    margin-right: 20%;
    margin-top: 12%;
}
.first-section-info{
    height: 200px;
    width: 300px;
    margin-top: 15%;
    /* margin-top: 400px; */
}
.main-list{
    margin-top: 20px;
    
}